//! **************************************************************************
// Written by: Map P.40xd on Thu Jun 11 14:50:22 2015
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "an<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "an<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "an<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "data<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "data<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "data<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "data<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "data<4>" LOCATE = SITE "J14" LEVEL 1;
COMP "clr" LOCATE = SITE "L14" LEVEL 1;
COMP "data<5>" LOCATE = SITE "J13" LEVEL 1;
COMP "data<6>" LOCATE = SITE "K14" LEVEL 1;
COMP "data<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "write" LOCATE = SITE "P14" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "F13" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "N15" LEVEL 1;
COMP "button_red" LOCATE = SITE "M14" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "G13" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "E14" LEVEL 1;
COMP "sseg<7>" LOCATE = SITE "P16" LEVEL 1;
COMP "empty" LOCATE = SITE "P11" LEVEL 1;
COMP "full" LOCATE = SITE "P12" LEVEL 1;
COMP "read" LOCATE = SITE "K12" LEVEL 1;
COMP "button_wrd" LOCATE = SITE "M13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

